.post-listing
  &--loading
    position: fixed
    width: 100vw
    height: 100vh
    top: 0
    left: 0
    z-index: 999
    background: rgba(black, 0.35)
    &:after 
      content: ''
      display: block
      width: 46px
      height: 46px
      border-radius: 50%
      border: 2px solid #fff
      border-color: #fff transparent #fff transparent
      position: absolute
      top: 50%
      left: 50%
      animation: post-search-rotate 1.2s linear infinite
  .row
    margin-top: -2em
    @include colGap(32)
    .col
      margin-top: 2em



@keyframes post-search-rotate 
  0% 
    transform: translate(-50%, -50%) rotate(0deg)
  100% 
    transform: translate(-50%, -50%) rotate(360deg)
