<template lang="pug">
section.block-section.wrapper.m-t-100.m-b-100
  h1.m-b-40 Posts

  form.post-listing--form.m-b-40(@submit.prevent='setFocus()' role='search' aria-controls='post-listing')
    label.sr-only(for='post-search')
    input#post-search(type='text', v-model='search')
    label.sr-only(for='post-category')
    select#post-category(v-model='category', v-if='categories.length')
      option(value='') Select a category
      option(v-for='category in categories', :value='category') {{ category.name }}
    label.sr-only(for='post-tag')
    select#post-tag(v-model='tag', v-if='tags.length')
      option(value='') Select a tag
      option(v-for='tag in tags', :value='tag') {{ tag.name }}
    input#submit(type='submit', value='Filter')
    button#reset.reset-button(type='button', @click='resetFilters()') Clear All

  div.aria-announcement.sr-only#aria-announcement(aria-live='polite', v-if='ariaAnnouncement.length')
    p {{ ariaAnnouncement }}
  
  div.m-b-40(v-if='posts.length') Showing {{ posts.length }} of {{ totalPosts }}

  div.m-b-40#post-listing(v-if='posts.length')
    ul.row
      li.col.col-md-4.col-sm-6.col-xs-12(v-for='post in posts' tabindex='-1')
        postThumbnail(:post="post")

  nav.post-listing--pagination.flex.flex-wrap(v-if='paginationType == "pagination" && maxPages > 1' aria-label="Pagination" aria-controls="post-listing")
    button.post-listing--pagination--number(@click.prevent="setPage(page - 1)" v-if="page != 1")
      span <
      span.hidden Go to previous page
    button.post-listing--pagination--number(v-if="page > 4" @click.prevent="setPage(1)") 1
    button.post-listing--pagination--number(v-if="page > 5" disabled) ...
    button.post-listing--pagination--number(v-if="Math.abs(i - page) <= 3" @click.prevent="setPage(i)" v-for="i in maxPages" :class="{ 'post-listing--pagination--current': i == page }") {{ i }}
    button.post-listing--pagination--number(v-if="page + 4 < maxPages" disabled) ...
    button.post-listing--pagination--number(v-if="page + 3 < maxPages" @click.prevent="setPage(maxPages)") {{ maxPages }}
    button.post-listing--pagination--number(@click.prevent="setPage(page + 1)" v-if="page != maxPages")
      span >
      span.hidden Go to next page

  button.button(v-if='paginationType == "loadmore" && this.posts.length < this.totalPosts', type='button', @click='fetchPosts(false,true)') Show More

  h2(v-if='dirty && !posts.length') Sorry, we can&#39;t find anything that matches what you are looking for.

  .post-listing--loading(v-if='loading')
</template>

<script>
 import VueHistory from '../../resources/js/plugins/VueHistory'
 import Vue from '../../resources/node_modules/vue/dist/vue.esm.browser.min.js'
 import postThumbnail from '../post-thumbnail/post-thumbnail.vue'

 Vue.use(VueHistory, {
    url_params: [ 'pg', 'search' ],
    data_keys:  [ 'page', 'search' ]
 })

export default {
  name: 'post-search',
  props: {
    categories: {
      type: Array,
      default: []
    },
    tags: {
      type: Array,
      default: []
    },
    presetCategory: {
      type: Object,
      default: {}
    },
    presetTag: {
      type: Object,
      default: {}
    },
  },
  components: {
    postThumbnail
  },
  data () {
    return {
      //user data
      category: '',
      tag: '',
      search: '',
      // app data
      paginationType: 'pagination', //pagination|loadmore
      loading: false,
      posts: [],
      totalPosts: 0,
      page: 1,
      maxPages: 1,
      dirty: false,
      ariaAnnouncement: '',

    }
  },
  mounted(){
    if(Object.keys(this.presetTag).length){
      this.tag = this.presetTag
    }
    if(Object.keys(this.presetCategory).length){
      this.category = this.presetCategory
    }

    this.$setFromUrl()
    this.fetchPosts()
  },
  methods: {
    setFocus(){
      this.fetchPosts(true, false, true)
    },
    setAriaAnnouncement(){
      if(!this.dirty){
        this.ariaAnnouncement = ''
        return ''
      }

      let str = ''
      let filterCategory = this.category != '' ? `${this.category.name}`+', ' : ''
      let filterTag = this.tag != '' ? `${this.tag.name}`+'.' : ''

      if(this.search != ''){
        str += `You searched for "${this.search}."`
      }
      if(this.category != '' || this.tag != ''){
        str += `Your filters were: "${filterCategory}${filterTag}"`
      }

      //If there are posts, tell how many are showing & what page we're on
      if(this.posts.length){
        str += `Page ${this.page}. Showing "${this.posts.length}" of "${this.totalPosts}."`
      }

      //If there are no posts, say we can't find any
      if(this.dirty && !this.posts.length){
        str += ` Sorry, no posts match that search criteria.`;
      }

      this.ariaAnnouncement = str.trim()

    },
    fetchPosts(resetPage, showMore = false, setFocus = false){
      if(resetPage){
        this.page = 1
      }

      if (showMore) {
        this.page = this.page + 1
      }


      //go and get the data we need
      this.loading = true
      jQuery.ajax({
        url: izi.ajaxURL, //localized variable
        data: {
          action: 'fetch_posts',
          page: this.page,
          search: this.search,
          category: this.category.term_id,
          tag: this.tag.term_id
        },
        complete: data => {
          const response = data.responseJSON.data

          if(data.status == 200){
            
            if (!showMore) {
              this.posts = response.posts  
            } else {
              response.posts.forEach(post => this.posts.push(post))
            }

            this.maxPages = response.maxPages
            this.totalPosts = response.postsFound
          } else {
            alert('Something went wrong. Please try again later.')
          }

          this.loading = false
          this.dirty = true
          this.setAriaAnnouncement()
          this.$pushToUrl()
          if(setFocus){
            let posts = this.$el.querySelectorAll('.post-listing--post')
            if(posts){
              posts[0].focus()
            }
          }
        }
      })
    },
    resetFilters() {
      this.tag = ''
      this.category = ''
      this.search = ''
      this.setFocus()
    },
    setPage(page){
      this.page = page
      this.fetchPosts()
      this.$el.scrollIntoView({ behavior: 'smooth' })
    }
  }
}
</script>
<style>

</style>