.accordion
  &--slide
    & + & 
      margin-top: 2rem
  ada-toggler button
    display: block
    position: relative
    &:after
      content: '+'
      position: absolute
      right: -2rem
      top: 50%
      transform: translateY(-50%)
      font-size: 2rem
    &[aria-expanded="true"]:after
      content: '-'