//add a little title tab above all of our ACF blocks
.edit-post-visual-editor__content-area .block-editor-block-list__layout .wp-block[data-type^="acf/"]
  &:before
    content: attr(data-title)
    display: inline-block
    background: var(--admin-background-color)
    color: var(--admin-text-color)
    padding: 0.5em 2em
    border-top-left-radius: 0.5em
    border-top-right-radius: 0.5em


//make custom blocks have custom colors to stand out more
button[class*="editor-block-list-item-acf"] 
  span:first-of-type
    background: var(--admin-background-color) !important
    color: var(--admin-text-color) !important


//make the bottom add block button easier to click
.block-list-appender .block-editor-inserter
  width: 100%
  height: 100px !important
  position: static !important
  button
    background: var(--admin-background-color) !important
    color: var(--admin-text-color) !important
    width: 100% !important
    height: 100% !important
    font-size: 1.2rem !important
    transition: 250ms
    &::before
      content: "Add Block "
    &::after
      content: "+"
      display: inline-block
      width: 32px
      height: 32px
    svg
      display: none
    &:hover,
    &:focus
      color: white
      filter: brightness(1.2)
      &::after
        transition: 250ms
        transform: rotate(90deg)

//hide patterns... because almost the entire core is disabled
.components-tab-panel__tabs-item
  display: none