//this file is served on woo commerce cart and checkout pages
@import 'sass/global/mixins'
@import 'sass/global/variables'

.screen-reader-text
  width: 1px
  height: 1px
  overflow: hidden
  position: absolute
  opacity: 0
  pointer-events: none

//cart table
.woocommerce-cart-form
  margin: 100px 0 40px
  table
    width: 100%
    border: 1px solid #ccc
    thead
      @include mobile
        display: none
    th
      padding: 0.5em 1em
      font-weight: 600
      text-align: left
    tbody tr
      border: 1px solid #ccc
      &:nth-of-type(odd)
        background: #efefef
      @include mobile
        display: block
    td
      vertical-align: middle
      padding: 0.5em 1em
      @include mobile
        display: block
        &:before
          content: attr(data-title)
          display: block
          font-weight: 600
  a
    color: inherit
    &.remove
      border: 2px solid
      border-radius: 50%
      text-decoration: none
      width: 2rem
      height: 2rem
      display: flex
      align-items: center
      justify-content:  center
  .attachment-woocommerce_thumbnail
    width: 150px
    height: 150px
  .actions
    text-align: right
  button[name="update_cart"]
    margin-top: 1rem

//cart total
.cart_totals
  display: flex
  flex-flow: column
  align-items: flex-end
  margin-bottom: 100px
  table
    td
      padding: 1rem 0 1rem 1rem

//checkout page
.woocommerce-checkout
  .woocommerce
    margin: 100px 0
    a
      color: inherit

  // #customer_details
  //   display: flex
  //   flex-wrap: wrap
  //   justify-content: space-between
  //   & > *
  //     width: 49.5%
  //     @include mobile 
  //       width: 100%

  .woocommerce-checkout
    display: flex
    flex-wrap: wrap
    justify-content: space-between

  .woocommerce-form-coupon-toggle,
  .woocommerce-form-coupon,
  .woocommerce-billing-fields__field-wrapper
    margin: 1rem 0 

  .woocommerce-billing-fields__field-wrapper
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    .form-row
      width: 49.5%
      margin-top: 1rem
      display: flex
      flex-flow: column
      justify-content: flex-end
    label
      display: block
      margin-bottom: 0.5rem
    input
      display: block
      width: 100%
    abbr
      text-decoration: none

  .woocommerce-additional-fields
    h3
      margin-bottom: 1rem
    label
      display: block
      margin-bottom: 0.5rem
    input,
    textarea
      display: block
      width: 100%
    

  .col2-set
    width: 59%
    @include mobile
      width: 100%
  #order_review_heading
    display: none
    @include mobile
      display: block
      margin-top: 2em
  #order_review
    width: 39%
    @include mobile
      width: 100%
    table
      width: 100%
      border: 1px solid #ccc
      th
        padding: 0.5em 1em
        font-weight: 600
        text-align: left
      tbody tr
        border: 1px solid #ccc
      td
        vertical-align: middle
        padding: 0.5em 1em
    .wc_payment_method,
    .payment_box,
    .woocommerce-info,
    .place-order,
    button[name="woocommerce_checkout_place_order"]
      margin: 0.5em 0
      p
        line-height: 1.6
    label[for="payment_method_paypal"]
      img
        display: block
    .about_paypal
      display: block
      margin-top: 0.5em
  
//order
.woocommerce-order
  * + * 
    margin-top: 1rem
  table
    width: 100%
    border: 1px solid #ccc
    th
      padding: 0.5em 1em
      font-weight: 600
      text-align: left
    tbody tr
      border: 1px solid #ccc
    td
      vertical-align: middle
      padding: 0.5em 1em