// Everything below here is just for testing.... delete it when starting a new theme
// VVVVVVVVV
.main-menu
  a
    text-decoration: none
    color: inherit
  .menu
    background: #efefef !important
  .menu > .menu-item
    margin-left: 2em
    padding: 1em
    @include mobile
      margin-left: 0
  .sub-menu
    background: #efefef
    .menu-item
      padding: 1em
// ^^^^^^^^^
// Everything above here is just for testing.... delete it when starting a new theme



//some helpful styles already done for you:
.main-menu
  margin-left: auto
  //this is the element that contains all links and opens/closes on mobile
  & > ul.menu 
    background: white

    //all links within the menu
    a
      display: block
      text-decoration: none

    //top level menu items
    & > li.menu-item


    //sub menu toggle indicator
    li.menu-item-has-children  > a
      &:after
        content: '+'
        display: inline-block
        transition: 250ms
      &[aria-expanded="true"]:after
        transform: rotate(45deg)

    //submenu
    ul.sub-menu
      @include mobile
        padding-left: 1em

      //submenu links
      a
        display: block




.mobile-menu-button 
  span
    background: black
    &:before,
    &:after
      background: black
  &.open span
    background: transparent
    &:before,
    &:after
      background: black




//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
//everything below here is boilerplate, you can remove something if needed... but you probably shouldn't unless you need something special
//=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
.main-menu
  @include mobile
    position: absolute
    z-index: 999
    left: 0
    top: 100%
    width: 100vw
  .menu
    @include mobile
      display: none
      position: absolute
      top: 100%
      left: 0
      width: 100%     
      height: 100vh 
      overflow: auto

  .menu-item
    display: inline-block
    position: relative
    @include mobile
      display: block
  .sub-menu
    display: none
    position: absolute
    top: 100%
    min-width: 100%
    z-index: 99
    left: 0
    &.push-left
      left: unset
      right: 0
    @include mobile
      position: relative
    .sub-menu
      left: 100%
      top: 0
      @include mobile
        left: 0
      &.push-left
        left: unset
        right: 100%

//this animates menu items on mobile
.main-menu .menu-item
  transition: 250ms ease-out
  @include mobile
    opacity: 0
    transform: translateX(80px)
  @for $i from 1 through 15
    &:nth-of-type(#{$i})
      transition-delay: #{$i * 50}ms
.main-menu .menu.open .menu-item
  opacity: 1
  transform: none

//this set some defaults on the mobile menu button
.mobile-menu-button
  appearance: none
  background: transparent
  border-radius: 0
  padding: 1em 0
  transition: 250ms ease-out
  display: inline-block
  border: 0
  @media(min-width:rem($mobile-switch + 1px))
    display: none 
  &.open
    span
      background: transparent
  span
    display: block
    width: 40px
    height: 6px
    position: relative
    transition: inherit
    &:before,
    &:after
      content: ''
      background: inherit
      width: 100%
      height: 100%
      display: block
      position: absolute
      transition: inherit
    &:before
      top: -12px
    &:after
      top: 12px
  &.open
    span
      &:before
        transform: rotate(45deg)
        top: 0
      &:after
        transform: rotate(135deg)
        top: 0

.test-class
  color: red