.edit-post-visual-editor__content-area .block-editor-block-list__layout .wp-block[data-type^="acf/"]:before {
  content: attr(data-title);
  display: inline-block;
  background: var(--admin-background-color);
  color: var(--admin-text-color);
  padding: 0.5em 2em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

button[class*="editor-block-list-item-acf"] span:first-of-type {
  background: var(--admin-background-color) !important;
  color: var(--admin-text-color) !important;
}

.block-list-appender .block-editor-inserter {
  width: 100%;
  height: 100px !important;
  position: static !important;
}

.block-list-appender .block-editor-inserter button {
  background: var(--admin-background-color) !important;
  color: var(--admin-text-color) !important;
  width: 100% !important;
  height: 100% !important;
  font-size: 1.2rem !important;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.block-list-appender .block-editor-inserter button::before {
  content: "Add Block ";
}

.block-list-appender .block-editor-inserter button::after {
  content: "+";
  display: inline-block;
  width: 32px;
  height: 32px;
}

.block-list-appender .block-editor-inserter button svg {
  display: none;
}

.block-list-appender .block-editor-inserter button:hover, .block-list-appender .block-editor-inserter button:focus {
  color: white;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

.block-list-appender .block-editor-inserter button:hover::after, .block-list-appender .block-editor-inserter button:focus::after {
  -webkit-transition: 250ms;
  transition: 250ms;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.components-tab-panel__tabs-item {
  display: none;
}
