@charset "UTF-8";
.full-width-slider--slide-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.bg-black {
  background: #333;
}

.text-black {
  color: #333;
}

.bg-blue {
  background: skyblue;
}

.text-blue {
  color: skyblue;
}

.bg-yellow {
  background: yellow;
}

.text-yellow {
  color: yellow;
}

.module {
  position: relative;
  padding-top: var(--desktop-padding-top);
  padding-bottom: var(--desktop-padding-bottom);
}

@media (max-width: 48rem) {
  .module {
    padding-top: var(--mobile-padding-top);
    padding-bottom: var(--mobile-padding-bottom);
  }
}

.module--background {
  -webkit-filter: brightness(0.65);
          filter: brightness(0.65);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.module .wrapper {
  position: relative;
  z-index: 2;
}

.wrapper {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
}

.break-wrapper {
  width: 100vw;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  position: relative;
}

@media (max-width: 48rem) {
  .desktop-only {
    display: none !important;
  }
}

@media (min-width: 48.0625rem) {
  .mobile-only {
    display: none !important;
  }
}

.hidden, .gform_validation_container, .hidden_label label,
.sr-only,
.single-product .screen-reader-text {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media (max-width: 31.25rem) {
  .col-xxs-12 {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  clear: both;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.display-none {
  display: none;
}

.flex {
  display: -webkit-box;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: inline-flex;
}

.space-between {
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.align-center {
  -webkit-box-align: center;
          align-items: center;
}

.justify-center {
  -webkit-box-pack: center;
          justify-content: center;
}

.justify-start {
  -webkit-box-pack: start;
          justify-content: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  -webkit-box-align: start;
          align-items: flex-start;
}

.align-end {
  -webkit-box-align: end;
          align-items: flex-end;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.no-underline {
  text-decoration: none;
}

.no-click {
  pointer-events: none;
}

.no-wrap {
  white-space: nowrap;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fill-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.woocommerce-notices-wrapper {
  border-top: 4px solid #3acd3a;
  background: #efefef;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.woocommerce-notices-wrapper .button {
  margin-right: 1rem;
}

.woocommerce-notices-wrapper:empty {
  display: none;
}

.m-0 {
  margin: 0px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-b-0 {
  margin-bottom: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.p-0 {
  padding: 0px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-r-0 {
  padding-right: 0px;
}

.p-b-0 {
  padding-bottom: 0px;
}

.p-l-0 {
  padding-left: 0px;
}

.m-5 {
  margin: 5px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-l-5 {
  margin-left: 5px;
}

.p-5 {
  padding: 5px;
}

.p-t-5 {
  padding-top: 5px;
}

.p-r-5 {
  padding-right: 5px;
}

.p-b-5 {
  padding-bottom: 5px;
}

.p-l-5 {
  padding-left: 5px;
}

.m-10 {
  margin: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-10 {
  padding: 10px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-r-10 {
  padding-right: 10px;
}

.p-b-10 {
  padding-bottom: 10px;
}

.p-l-10 {
  padding-left: 10px;
}

.m-15 {
  margin: 15px;
}

.m-t-15 {
  margin-top: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-15 {
  padding: 15px;
}

.p-t-15 {
  padding-top: 15px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-l-15 {
  padding-left: 15px;
}

.m-20 {
  margin: 20px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-20 {
  padding: 20px;
}

.p-t-20 {
  padding-top: 20px;
}

.p-r-20 {
  padding-right: 20px;
}

.p-b-20 {
  padding-bottom: 20px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-25 {
  margin: 25px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-25 {
  padding: 25px;
}

.p-t-25 {
  padding-top: 25px;
}

.p-r-25 {
  padding-right: 25px;
}

.p-b-25 {
  padding-bottom: 25px;
}

.p-l-25 {
  padding-left: 25px;
}

.m-30 {
  margin: 30px;
}

.m-t-30 {
  margin-top: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.m-b-30 {
  margin-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-30 {
  padding: 30px;
}

.p-t-30 {
  padding-top: 30px;
}

.p-r-30 {
  padding-right: 30px;
}

.p-b-30 {
  padding-bottom: 30px;
}

.p-l-30 {
  padding-left: 30px;
}

.m-35 {
  margin: 35px;
}

.m-t-35 {
  margin-top: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-35 {
  padding: 35px;
}

.p-t-35 {
  padding-top: 35px;
}

.p-r-35 {
  padding-right: 35px;
}

.p-b-35 {
  padding-bottom: 35px;
}

.p-l-35 {
  padding-left: 35px;
}

.m-40 {
  margin: 40px;
}

.m-t-40 {
  margin-top: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-40 {
  padding: 40px;
}

.p-t-40 {
  padding-top: 40px;
}

.p-r-40 {
  padding-right: 40px;
}

.p-b-40 {
  padding-bottom: 40px;
}

.p-l-40 {
  padding-left: 40px;
}

.m-45 {
  margin: 45px;
}

.m-t-45 {
  margin-top: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.p-45 {
  padding: 45px;
}

.p-t-45 {
  padding-top: 45px;
}

.p-r-45 {
  padding-right: 45px;
}

.p-b-45 {
  padding-bottom: 45px;
}

.p-l-45 {
  padding-left: 45px;
}

.m-50 {
  margin: 50px;
}

.m-t-50 {
  margin-top: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-50 {
  padding: 50px;
}

.p-t-50 {
  padding-top: 50px;
}

.p-r-50 {
  padding-right: 50px;
}

.p-b-50 {
  padding-bottom: 50px;
}

.p-l-50 {
  padding-left: 50px;
}

.m-55 {
  margin: 55px;
}

.m-t-55 {
  margin-top: 55px;
}

.m-r-55 {
  margin-right: 55px;
}

.m-b-55 {
  margin-bottom: 55px;
}

.m-l-55 {
  margin-left: 55px;
}

.p-55 {
  padding: 55px;
}

.p-t-55 {
  padding-top: 55px;
}

.p-r-55 {
  padding-right: 55px;
}

.p-b-55 {
  padding-bottom: 55px;
}

.p-l-55 {
  padding-left: 55px;
}

.m-60 {
  margin: 60px;
}

.m-t-60 {
  margin-top: 60px;
}

.m-r-60 {
  margin-right: 60px;
}

.m-b-60 {
  margin-bottom: 60px;
}

.m-l-60 {
  margin-left: 60px;
}

.p-60 {
  padding: 60px;
}

.p-t-60 {
  padding-top: 60px;
}

.p-r-60 {
  padding-right: 60px;
}

.p-b-60 {
  padding-bottom: 60px;
}

.p-l-60 {
  padding-left: 60px;
}

.m-65 {
  margin: 65px;
}

.m-t-65 {
  margin-top: 65px;
}

.m-r-65 {
  margin-right: 65px;
}

.m-b-65 {
  margin-bottom: 65px;
}

.m-l-65 {
  margin-left: 65px;
}

.p-65 {
  padding: 65px;
}

.p-t-65 {
  padding-top: 65px;
}

.p-r-65 {
  padding-right: 65px;
}

.p-b-65 {
  padding-bottom: 65px;
}

.p-l-65 {
  padding-left: 65px;
}

.m-70 {
  margin: 70px;
}

.m-t-70 {
  margin-top: 70px;
}

.m-r-70 {
  margin-right: 70px;
}

.m-b-70 {
  margin-bottom: 70px;
}

.m-l-70 {
  margin-left: 70px;
}

.p-70 {
  padding: 70px;
}

.p-t-70 {
  padding-top: 70px;
}

.p-r-70 {
  padding-right: 70px;
}

.p-b-70 {
  padding-bottom: 70px;
}

.p-l-70 {
  padding-left: 70px;
}

.m-75 {
  margin: 75px;
}

.m-t-75 {
  margin-top: 75px;
}

.m-r-75 {
  margin-right: 75px;
}

.m-b-75 {
  margin-bottom: 75px;
}

.m-l-75 {
  margin-left: 75px;
}

.p-75 {
  padding: 75px;
}

.p-t-75 {
  padding-top: 75px;
}

.p-r-75 {
  padding-right: 75px;
}

.p-b-75 {
  padding-bottom: 75px;
}

.p-l-75 {
  padding-left: 75px;
}

.m-80 {
  margin: 80px;
}

.m-t-80 {
  margin-top: 80px;
}

.m-r-80 {
  margin-right: 80px;
}

.m-b-80 {
  margin-bottom: 80px;
}

.m-l-80 {
  margin-left: 80px;
}

.p-80 {
  padding: 80px;
}

.p-t-80 {
  padding-top: 80px;
}

.p-r-80 {
  padding-right: 80px;
}

.p-b-80 {
  padding-bottom: 80px;
}

.p-l-80 {
  padding-left: 80px;
}

.m-85 {
  margin: 85px;
}

.m-t-85 {
  margin-top: 85px;
}

.m-r-85 {
  margin-right: 85px;
}

.m-b-85 {
  margin-bottom: 85px;
}

.m-l-85 {
  margin-left: 85px;
}

.p-85 {
  padding: 85px;
}

.p-t-85 {
  padding-top: 85px;
}

.p-r-85 {
  padding-right: 85px;
}

.p-b-85 {
  padding-bottom: 85px;
}

.p-l-85 {
  padding-left: 85px;
}

.m-90 {
  margin: 90px;
}

.m-t-90 {
  margin-top: 90px;
}

.m-r-90 {
  margin-right: 90px;
}

.m-b-90 {
  margin-bottom: 90px;
}

.m-l-90 {
  margin-left: 90px;
}

.p-90 {
  padding: 90px;
}

.p-t-90 {
  padding-top: 90px;
}

.p-r-90 {
  padding-right: 90px;
}

.p-b-90 {
  padding-bottom: 90px;
}

.p-l-90 {
  padding-left: 90px;
}

.m-95 {
  margin: 95px;
}

.m-t-95 {
  margin-top: 95px;
}

.m-r-95 {
  margin-right: 95px;
}

.m-b-95 {
  margin-bottom: 95px;
}

.m-l-95 {
  margin-left: 95px;
}

.p-95 {
  padding: 95px;
}

.p-t-95 {
  padding-top: 95px;
}

.p-r-95 {
  padding-right: 95px;
}

.p-b-95 {
  padding-bottom: 95px;
}

.p-l-95 {
  padding-left: 95px;
}

.m-100 {
  margin: 100px;
}

.m-t-100 {
  margin-top: 100px;
}

.m-r-100 {
  margin-right: 100px;
}

.m-b-100 {
  margin-bottom: 100px;
}

.m-l-100 {
  margin-left: 100px;
}

.p-100 {
  padding: 100px;
}

.p-t-100 {
  padding-top: 100px;
}

.p-r-100 {
  padding-right: 100px;
}

.p-b-100 {
  padding-bottom: 100px;
}

.p-l-100 {
  padding-left: 100px;
}

.m-105 {
  margin: 105px;
}

.m-t-105 {
  margin-top: 105px;
}

.m-r-105 {
  margin-right: 105px;
}

.m-b-105 {
  margin-bottom: 105px;
}

.m-l-105 {
  margin-left: 105px;
}

.p-105 {
  padding: 105px;
}

.p-t-105 {
  padding-top: 105px;
}

.p-r-105 {
  padding-right: 105px;
}

.p-b-105 {
  padding-bottom: 105px;
}

.p-l-105 {
  padding-left: 105px;
}

.m-110 {
  margin: 110px;
}

.m-t-110 {
  margin-top: 110px;
}

.m-r-110 {
  margin-right: 110px;
}

.m-b-110 {
  margin-bottom: 110px;
}

.m-l-110 {
  margin-left: 110px;
}

.p-110 {
  padding: 110px;
}

.p-t-110 {
  padding-top: 110px;
}

.p-r-110 {
  padding-right: 110px;
}

.p-b-110 {
  padding-bottom: 110px;
}

.p-l-110 {
  padding-left: 110px;
}

.m-115 {
  margin: 115px;
}

.m-t-115 {
  margin-top: 115px;
}

.m-r-115 {
  margin-right: 115px;
}

.m-b-115 {
  margin-bottom: 115px;
}

.m-l-115 {
  margin-left: 115px;
}

.p-115 {
  padding: 115px;
}

.p-t-115 {
  padding-top: 115px;
}

.p-r-115 {
  padding-right: 115px;
}

.p-b-115 {
  padding-bottom: 115px;
}

.p-l-115 {
  padding-left: 115px;
}

.m-120 {
  margin: 120px;
}

.m-t-120 {
  margin-top: 120px;
}

.m-r-120 {
  margin-right: 120px;
}

.m-b-120 {
  margin-bottom: 120px;
}

.m-l-120 {
  margin-left: 120px;
}

.p-120 {
  padding: 120px;
}

.p-t-120 {
  padding-top: 120px;
}

.p-r-120 {
  padding-right: 120px;
}

.p-b-120 {
  padding-bottom: 120px;
}

.p-l-120 {
  padding-left: 120px;
}

* {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Helvetica", "Sans Serif";
  color: #333;
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
}

body > footer {
  margin-top: auto;
}

h1,
.h1 {
  font-size: 2em;
  font-weight: 700;
}

h2,
.h2 {
  font-size: 1.8em;
  font-weight: 700;
}

h3,
.h3 {
  font-size: 1.6em;
  font-weight: 700;
}

h4,
.h4 {
  font-size: 1.4em;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 1.2em;
  font-weight: 700;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

i,
em {
  font-style: italic;
}

b,
strong {
  font-weight: bold;
}

code,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

blockquote {
  font-size: 2rem;
}

blockquote p {
  font-size: 2rem;
}

blockquote p:before {
  content: '“';
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='date'],
select,
textarea {
  font-size: 1em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5em 1em;
  border: 1px solid;
  border-radius: 0;
  font-family: "Helvetica", "Sans Serif";
}

select {
  background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDQwNy40MzcgNDA3LjQzNyIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNDA3LjQzNyA0MDcuNDM3OyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+DQo8cG9seWdvbiBwb2ludHM9IjM4Ni4yNTgsOTEuNTY3IDIwMy43MTgsMjczLjUxMiAyMS4xNzksOTEuNTY3IDAsMTEyLjgxNSAyMDMuNzE4LDMxNS44NyA0MDcuNDM3LDExMi44MTUgIi8+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8L3N2Zz4NCg==");
  background-repeat: no-repeat;
  background-position: 95%;
  background-size: 18px;
  padding-right: 30px;
}

select option {
  background: white !important;
  color: black !important;
}

animate-on-scroll {
  opacity: 0;
  display: block;
}

ada-toggler {
  display: block;
}

ada-video button {
  background: white;
}

image-compare button {
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: white;
}

ada-slider-prev,
ada-slider-next {
  width: 12px;
  height: 12px;
}

ada-slider-prev button,
ada-slider-next button {
  border-top: 2px solid black;
  border-right: 2px solid black;
  color: transparent;
  width: 12px;
  height: 12px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

ada-slider-prev button {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

ada-slider-page button {
  border: 2px solid black;
  background: transparent;
  border-radius: 50%;
  color: transparent;
  width: 1rem;
  height: 1rem;
  margin: 0 0.5rem;
}

ada-slider-page button[aria-current="true"] {
  background: black;
}

.editor-content,
.content-editor,
#tinymce {
  font-family: "Helvetica", "Sans Serif";
}

.editor-content a:not(.button),
.content-editor a:not(.button),
#tinymce a:not(.button) {
  color: inherit;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.editor-content a:not(.button):hover,
.content-editor a:not(.button):hover,
#tinymce a:not(.button):hover {
  opacity: 0.65;
  text-decoration: none;
}

.editor-content p,
.content-editor p,
#tinymce p {
  line-height: 1.6;
}

.editor-content > * + *,
.content-editor > * + *,
#tinymce > * + * {
  margin-top: 0.6em;
}

.editor-content > ul,
.content-editor > ul,
#tinymce > ul {
  list-style: disc;
  padding-left: 40px;
}

.editor-content > ol,
.content-editor > ol,
#tinymce > ol {
  list-style: decimal;
  padding-left: 40px;
}

.editor-content > ul li + li,
.editor-content > ol li + li,
.content-editor > ul li + li,
.content-editor > ol li + li,
#tinymce > ul li + li,
#tinymce > ol li + li {
  margin-top: 0.5em;
}

.editor-content iframe[src*="vimeo.com"],
.editor-content iframe[src*=".mp4"],
.editor-content iframe[src*="youtube.com"],
.content-editor iframe[src*="vimeo.com"],
.content-editor iframe[src*=".mp4"],
.content-editor iframe[src*="youtube.com"],
#tinymce iframe[src*="vimeo.com"],
#tinymce iframe[src*=".mp4"],
#tinymce iframe[src*="youtube.com"] {
  width: 100%;
  height: Min(40vw, 450px);
}

@media (max-width: 48rem) {
  .editor-content iframe[src*="vimeo.com"],
  .editor-content iframe[src*=".mp4"],
  .editor-content iframe[src*="youtube.com"],
  .content-editor iframe[src*="vimeo.com"],
  .content-editor iframe[src*=".mp4"],
  .content-editor iframe[src*="youtube.com"],
  #tinymce iframe[src*="vimeo.com"],
  #tinymce iframe[src*=".mp4"],
  #tinymce iframe[src*="youtube.com"] {
    height: 53vw;
  }
}

.editor-content .aligncenter,
.content-editor .aligncenter,
#tinymce .aligncenter {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.editor-content .alignleft,
.content-editor .alignleft,
#tinymce .alignleft {
  float: left;
  margin: 0.5em 1em 0.5em 0;
}

.editor-content .alignright,
.content-editor .alignright,
#tinymce .alignright {
  float: right;
  margin: 0.5em 0 0.5em 1em;
}

/* Uncomment and set these variables to customize the grid. */
.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: flex;
  -webkit-box-flex: 0;
  flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -1rem;
  margin-left: -1rem;
}

.row.reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.col.reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  flex-direction: column-reverse;
}

.col-xs,
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

.col-xs {
  -webkit-box-flex: 1;
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-xs-1 {
  flex-basis: 8.333%;
  max-width: 8.333%;
}

.col-xs-2 {
  flex-basis: 16.667%;
  max-width: 16.667%;
}

.col-xs-3 {
  flex-basis: 25%;
  max-width: 25%;
}

.col-xs-4 {
  flex-basis: 33.333%;
  max-width: 33.333%;
}

.col-xs-5 {
  flex-basis: 41.667%;
  max-width: 41.667%;
}

.col-xs-6 {
  flex-basis: 50%;
  max-width: 50%;
}

.col-xs-7 {
  flex-basis: 58.333%;
  max-width: 58.333%;
}

.col-xs-8 {
  flex-basis: 66.667%;
  max-width: 66.667%;
}

.col-xs-9 {
  flex-basis: 75%;
  max-width: 75%;
}

.col-xs-10 {
  flex-basis: 83.333%;
  max-width: 83.333%;
}

.col-xs-11 {
  flex-basis: 91.667%;
  max-width: 91.667%;
}

.col-xs-12 {
  flex-basis: 100%;
  max-width: 100%;
}

.col-xs-offset-1 {
  margin-left: 8.333%;
}

.col-xs-offset-2 {
  margin-left: 16.667%;
}

.col-xs-offset-3 {
  margin-left: 25%;
}

.col-xs-offset-4 {
  margin-left: 33.333%;
}

.col-xs-offset-5 {
  margin-left: 41.667%;
}

.col-xs-offset-6 {
  margin-left: 50%;
}

.col-xs-offset-7 {
  margin-left: 58.333%;
}

.col-xs-offset-8 {
  margin-left: 66.667%;
}

.col-xs-offset-9 {
  margin-left: 75%;
}

.col-xs-offset-10 {
  margin-left: 83.333%;
}

.col-xs-offset-11 {
  margin-left: 91.667%;
}

.start-xs {
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: start;
}

.center-xs {
  -webkit-box-pack: center;
  justify-content: center;
  text-align: center;
}

.end-xs {
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: end;
}

.top-xs {
  -webkit-box-align: start;
  align-items: flex-start;
}

.middle-xs {
  -webkit-box-align: center;
  align-items: center;
}

.bottom-xs {
  -webkit-box-align: end;
  align-items: flex-end;
}

.around-xs {
  justify-content: space-around;
}

.between-xs {
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.first-xs {
  -webkit-box-ordinal-group: 0;
  order: -1;
}

.last-xs {
  -webkit-box-ordinal-group: 2;
  order: 1;
}

@media only screen and (min-width: 769px) {
  .container {
    width: 46rem;
  }
  .col-sm,
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-sm {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-sm-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-sm-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-sm-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-sm-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-sm-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-sm-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-sm-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-sm-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-sm-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-sm-offset-1 {
    margin-left: 8.333%;
  }
  .col-sm-offset-2 {
    margin-left: 16.667%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 33.333%;
  }
  .col-sm-offset-5 {
    margin-left: 41.667%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 58.333%;
  }
  .col-sm-offset-8 {
    margin-left: 66.667%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 83.333%;
  }
  .col-sm-offset-11 {
    margin-left: 91.667%;
  }
  .start-sm {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-sm {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-sm {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-sm {
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-sm {
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-sm {
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-sm {
    justify-content: space-around;
  }
  .between-sm {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-sm {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-sm {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 61rem;
  }
  .col-md,
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-md {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-md-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-md-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-md-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-md-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-md-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-md-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-md-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-md-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-md-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-md-offset-1 {
    margin-left: 8.333%;
  }
  .col-md-offset-2 {
    margin-left: 16.667%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-4 {
    margin-left: 33.333%;
  }
  .col-md-offset-5 {
    margin-left: 41.667%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-7 {
    margin-left: 58.333%;
  }
  .col-md-offset-8 {
    margin-left: 66.667%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-10 {
    margin-left: 83.333%;
  }
  .col-md-offset-11 {
    margin-left: 91.667%;
  }
  .start-md {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-md {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-md {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-md {
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-md {
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-md {
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-md {
    justify-content: space-around;
  }
  .between-md {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-md {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-md {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

@media only screen and (min-width: 1201px) {
  .container {
    width: 71rem;
  }
  .col-lg,
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .col-lg {
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-basis: 0;
    max-width: 100%;
  }
  .col-lg-1 {
    flex-basis: 8.333%;
    max-width: 8.333%;
  }
  .col-lg-2 {
    flex-basis: 16.667%;
    max-width: 16.667%;
  }
  .col-lg-3 {
    flex-basis: 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex-basis: 33.333%;
    max-width: 33.333%;
  }
  .col-lg-5 {
    flex-basis: 41.667%;
    max-width: 41.667%;
  }
  .col-lg-6 {
    flex-basis: 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.333%;
    max-width: 58.333%;
  }
  .col-lg-8 {
    flex-basis: 66.667%;
    max-width: 66.667%;
  }
  .col-lg-9 {
    flex-basis: 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex-basis: 83.333%;
    max-width: 83.333%;
  }
  .col-lg-11 {
    flex-basis: 91.667%;
    max-width: 91.667%;
  }
  .col-lg-12 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .col-lg-offset-1 {
    margin-left: 8.333%;
  }
  .col-lg-offset-2 {
    margin-left: 16.667%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 33.333%;
  }
  .col-lg-offset-5 {
    margin-left: 41.667%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 58.333%;
  }
  .col-lg-offset-8 {
    margin-left: 66.667%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 83.333%;
  }
  .col-lg-offset-11 {
    margin-left: 91.667%;
  }
  .start-lg {
    -webkit-box-pack: start;
    justify-content: flex-start;
    text-align: start;
  }
  .center-lg {
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
  }
  .end-lg {
    -webkit-box-pack: end;
    justify-content: flex-end;
    text-align: end;
  }
  .top-lg {
    -webkit-box-align: start;
    align-items: flex-start;
  }
  .middle-lg {
    -webkit-box-align: center;
    align-items: center;
  }
  .bottom-lg {
    -webkit-box-align: end;
    align-items: flex-end;
  }
  .around-lg {
    justify-content: space-around;
  }
  .between-lg {
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
  .first-lg {
    -webkit-box-ordinal-group: 0;
    order: -1;
  }
  .last-lg {
    -webkit-box-ordinal-group: 2;
    order: 1;
  }
}

button, .editor-content .button,
.button,
button[type="submit"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  font-family: "Helvetica", "Sans Serif";
}

.editor-content .button,
.button,
button[type="submit"] {
  background: skyblue;
  color: #333;
  padding: 0.5em 1em;
}

.editor-content .button:hover,
.button:hover,
button[type="submit"]:hover {
  background: yellow;
}

/**
 * Base ada-select stuff
 * None of this is required, it is just a good baseline
 */
.ada-select {
  position: relative;
  text-align: left;
}

.ada-select--label {
  display: block;
  margin-bottom: 0.5em;
}

.ada-select--trigger {
  border-radius: 0;
  border: 1px solid;
  padding: 0.5em 3em 0.5em 1em;
  display: block;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  text-align: left;
  background: #fff;
}

.ada-select--trigger:after {
  content: '';
  position: absolute;
  right: 1em;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-top: 0.25em solid;
  border-left: 0.25em solid transparent;
  border-right: 0.25em solid transparent;
  pointer-events: none;
}

.ada-select--options {
  list-style: none;
  padding: 0;
  border: 1px solid;
  position: absolute;
  z-index: 999;
  top: 100%;
  left: 0;
  width: 100%;
  background: #fff;
  max-height: 300px;
  overflow: auto;
}

.ada-select--optgroup-title {
  padding: 0.5em 1em;
  opacity: 0.75;
}

.ada-select--option {
  padding: 0.5em 1em;
  cursor: pointer;
}

.ada-select--option:hover {
  background: #eee;
}

.ada-select--option[aria-selected="true"] {
  background: #ddd;
}

.ada-select--option--disabled {
  cursor: no-drop;
  opacity: 0.5;
}

.ada-select--optgroup-option {
  padding: 0.5em 1em 0.5em 2em;
}

/**
 * Base ADA form stuff
 */
ada-form {
  display: block;
}

ada-input {
  display: block;
}

ada-input + ada-input {
  margin-top: 1em;
}

ada-input.valid input, ada-input.valid fieldset, ada-input.valid textarea, ada-input.valid select {
  border-color: #20e220;
}

ada-input.error input, ada-input.error fieldset, ada-input.error textarea, ada-input.error select {
  border-color: red;
}

ada-input label {
  display: block;
}

ada-input fieldset {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
}

ada-input fieldset legend {
  width: 100%;
}

ada-option {
  display: -webkit-box;
  display: flex;
}

.ada-input-error {
  color: red;
}

/**
 * Base gform stuff
 */
@-webkit-keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gform_ajax_spinner {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-top: 2px solid;
  border-right: 2px solid transparent;
  border-bottom: 2px solid;
  border-left: 2px solid transparent;
  border-radius: 50%;
  -webkit-animation: rotate-spinner 1.2s linear infinite;
          animation: rotate-spinner 1.2s linear infinite;
}

.gfield_visibility_hidden {
  display: none;
}

.gform_wrapper input[type='text'],
.gform_wrapper input[type='email'],
.gform_wrapper input[type='number'],
.gform_wrapper input[type='password'],
.gform_wrapper input[type='search'],
.gform_wrapper input[type='tel'],
.gform_wrapper input[type='url'],
.gform_wrapper textarea,
.gform_wrapper select {
  width: 100%;
  border-radius: 0;
}

.validation_error,
.validation_message {
  color: #cc0000;
  margin: 0.8em 0;
  line-height: 1.6;
}

.gform_fields {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 0;
  list-style: none;
}

.gfield {
  width: 100%;
  margin-bottom: 1em;
}

.gfield--width-half {
  width: 49%;
}

@media (max-width: 48rem) {
  .gfield--width-half {
    width: 100%;
  }
}

.gform_heading .gform_title + .gform_description {
  margin: 1em 0;
  display: block;
}

.ginput_complex {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.ginput_complex > * {
  margin-bottom: 1em;
}

.ginput_complex > * label {
  display: block;
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

.ginput_complex > *.ginput_left, .ginput_complex > *.ginput_right, .ginput_complex > *.name_first, .ginput_complex > *.name_last, .ginput_complex > *.address_line_1, .ginput_complex > *.address_line_2 {
  width: 49%;
}

@media (max-width: 48rem) {
  .ginput_complex > *.ginput_left, .ginput_complex > *.ginput_right, .ginput_complex > *.name_first, .ginput_complex > *.name_last, .ginput_complex > *.address_line_1, .ginput_complex > *.address_line_2 {
    width: 100%;
  }
}

.gfield_label {
  display: block;
  margin: 1em 0 0.5em;
}

.ginput_container_select {
  position: relative;
}

.ginput_container_select:after {
  content: '';
  display: block;
  border-left: 10px solid black;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  position: absolute;
  right: 1em;
  top: calc(50% - 7px);
}

.ui-datepicker {
  background: white;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 10px;
  display: block;
}

.ui-datepicker-header {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.ui-datepicker-title {
  width: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin-top: 1em;
}

.ui-datepicker-title select {
  border: 1px solid;
}

.ui-datepicker-calendar {
  width: 100%;
  margin-top: 1em;
  text-align: center;
}

.ui-datepicker-calendar a {
  text-decoration: none;
  background: #efefef;
  width: 100%;
  height: 100%;
  min-height: 2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  color: inherit;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

.ui-datepicker-calendar a:hover {
  background: #cecece;
}

/* All .sass files in the ../blocks directory will be automatically compiled here */
.accordion--slide + .accordion--slide {
  margin-top: 2rem;
}

.accordion ada-toggler button {
  display: block;
  position: relative;
}

.accordion ada-toggler button:after {
  content: '+';
  position: absolute;
  right: -2rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 2rem;
}

.accordion ada-toggler button[aria-expanded="true"]:after {
  content: '-';
}

.back-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  z-index: 999;
  padding: 1em;
  background: white;
  text-decoration: none;
  color: black;
}

.back-to-top.show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.breadcrumbs a {
  color: inherit;
}

.breadcrumbs li:last-of-type a {
  text-decoration: none;
}

.columns .row {
  margin-top: -2em;
  margin-left: -16px;
  margin-right: -16px;
}

.columns .row > .col {
  padding-left: 16px;
  padding-right: 16px;
}

@media (max-width: 48rem) {
  .columns .row.mobile-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
            flex-flow: column-reverse;
  }
}

.columns .row .col {
  margin-top: 2em;
}

.content-full-bleed-image {
  overflow: hidden;
}

@media (max-width: 48rem) {
  .content-full-bleed-image .content-column {
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
}

@media (max-width: 48rem) {
  .content-full-bleed-image .image-column {
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}

.content-full-bleed-image.image-left .content-column {
  -webkit-box-ordinal-group: 4;
          order: 3;
}

.content-full-bleed-image.image-left .spacer-column {
  -webkit-box-ordinal-group: 3;
          order: 2;
}

.content-full-bleed-image.image-left .image-column {
  -webkit-box-ordinal-group: 2;
          order: 1;
}

.content-full-bleed-image.image-left .image-container {
  left: unset;
  right: 0;
}

.content-full-bleed-image .image-container {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-size: cover;
}

@media (max-width: 48rem) {
  .content-full-bleed-image .image-container {
    width: 100% !important;
    position: static !important;
    background-image: none !important;
  }
  .content-full-bleed-image .image-container img {
    margin: 0 -2em;
    max-width: calc(100% + 4em);
  }
}

.content-video-background {
  position: relative;
  overflow: hidden;
}

.content-video-background--video-container {
  position: absolute !important;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
  -webkit-filter: brightness(0.75);
          filter: brightness(0.75);
  z-index: 1;
}

.content-video-background .wrapper {
  position: relative;
  z-index: 2;
}

.columns .row {
  margin-top: -2em;
  margin-left: -16px;
  margin-right: -16px;
}

.columns .row > .col {
  padding-left: 16px;
  padding-right: 16px;
}

.columns .row .col {
  margin-top: 2em;
}

.full-width-image {
  display: -webkit-box;
  display: flex;
}

.full-width-image animate-on-scroll {
  display: -webkit-box !important;
  display: flex !important;
}

.full-width-slider {
  padding: 0 !important;
}

.full-width-slider--slide-background {
  z-index: 1;
  -webkit-filter: brightness(0.7);
          filter: brightness(0.7);
}

.full-width-slider--slide {
  position: relative;
  padding-top: var(--desktop-padding-top);
  padding-bottom: var(--desktop-padding-bottom);
}

@media (max-width: 48rem) {
  .full-width-slider--slide {
    padding-top: var(--mobile-padding-top);
    padding-bottom: var(--mobile-padding-bottom);
  }
}

.full-width-slider--slide .wrapper {
  position: relative;
  z-index: 2;
}

.main-header {
  position: relative;
  background: white;
}

.main-header .skip-to-content {
  padding: 1em;
  position: absolute;
  top: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  left: 1em;
  z-index: 1000;
  background: white;
}

.main-header .skip-to-content:focus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.main-header--wrapper {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
          align-items: flex-end;
  flex-wrap: wrap;
}

.main-header .site-logo {
  max-width: 100px;
  height: auto;
}

.main-header.sticky {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
}

.admin-bar .main-header.sticky,
.admin-bar .main-header--placeholder {
  top: 32px;
}

@media (max-width: 48.875rem) {
  .admin-bar .main-header.sticky,
  .admin-bar .main-header--placeholder {
    top: 46px;
  }
}

.main-header.reveal {
  position: fixed;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.main-header.reveal.hide {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.admin-bar .main-header.reveal,
.admin-bar .main-header--placeholder {
  top: 32px;
}

@media (max-width: 48.875rem) {
  .admin-bar .main-header.reveal,
  .admin-bar .main-header--placeholder {
    top: 46px;
  }
}

.main-menu a {
  text-decoration: none;
  color: inherit;
}

.main-menu .menu {
  background: #efefef !important;
}

.main-menu .menu > .menu-item {
  margin-left: 2em;
  padding: 1em;
}

@media (max-width: 48rem) {
  .main-menu .menu > .menu-item {
    margin-left: 0;
  }
}

.main-menu .sub-menu {
  background: #efefef;
}

.main-menu .sub-menu .menu-item {
  padding: 1em;
}

.main-menu {
  margin-left: auto;
}

.main-menu > ul.menu {
  background: white;
}

.main-menu > ul.menu a {
  display: block;
  text-decoration: none;
}

.main-menu > ul.menu li.menu-item-has-children > a:after {
  content: '+';
  display: inline-block;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.main-menu > ul.menu li.menu-item-has-children > a[aria-expanded="true"]:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media (max-width: 48rem) {
  .main-menu > ul.menu ul.sub-menu {
    padding-left: 1em;
  }
}

.main-menu > ul.menu ul.sub-menu a {
  display: block;
}

.mobile-menu-button span {
  background: black;
}

.mobile-menu-button span:before, .mobile-menu-button span:after {
  background: black;
}

.mobile-menu-button.open span {
  background: transparent;
}

.mobile-menu-button.open span:before, .mobile-menu-button.open span:after {
  background: black;
}

@media (max-width: 48rem) {
  .main-menu {
    position: absolute;
    z-index: 999;
    left: 0;
    top: 100%;
    width: 100vw;
  }
}

@media (max-width: 48rem) {
  .main-menu .menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: auto;
  }
}

.main-menu .menu-item {
  display: inline-block;
  position: relative;
}

@media (max-width: 48rem) {
  .main-menu .menu-item {
    display: block;
  }
}

.main-menu .sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 100%;
  z-index: 99;
  left: 0;
}

.main-menu .sub-menu.push-left {
  left: unset;
  right: 0;
}

@media (max-width: 48rem) {
  .main-menu .sub-menu {
    position: relative;
  }
}

.main-menu .sub-menu .sub-menu {
  left: 100%;
  top: 0;
}

@media (max-width: 48rem) {
  .main-menu .sub-menu .sub-menu {
    left: 0;
  }
}

.main-menu .sub-menu .sub-menu.push-left {
  left: unset;
  right: 100%;
}

.main-menu .menu-item {
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
}

@media (max-width: 48rem) {
  .main-menu .menu-item {
    opacity: 0;
    -webkit-transform: translateX(80px);
            transform: translateX(80px);
  }
}

.main-menu .menu-item:nth-of-type(1) {
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
}

.main-menu .menu-item:nth-of-type(2) {
  -webkit-transition-delay: 100ms;
          transition-delay: 100ms;
}

.main-menu .menu-item:nth-of-type(3) {
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
}

.main-menu .menu-item:nth-of-type(4) {
  -webkit-transition-delay: 200ms;
          transition-delay: 200ms;
}

.main-menu .menu-item:nth-of-type(5) {
  -webkit-transition-delay: 250ms;
          transition-delay: 250ms;
}

.main-menu .menu-item:nth-of-type(6) {
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.main-menu .menu-item:nth-of-type(7) {
  -webkit-transition-delay: 350ms;
          transition-delay: 350ms;
}

.main-menu .menu-item:nth-of-type(8) {
  -webkit-transition-delay: 400ms;
          transition-delay: 400ms;
}

.main-menu .menu-item:nth-of-type(9) {
  -webkit-transition-delay: 450ms;
          transition-delay: 450ms;
}

.main-menu .menu-item:nth-of-type(10) {
  -webkit-transition-delay: 500ms;
          transition-delay: 500ms;
}

.main-menu .menu-item:nth-of-type(11) {
  -webkit-transition-delay: 550ms;
          transition-delay: 550ms;
}

.main-menu .menu-item:nth-of-type(12) {
  -webkit-transition-delay: 600ms;
          transition-delay: 600ms;
}

.main-menu .menu-item:nth-of-type(13) {
  -webkit-transition-delay: 650ms;
          transition-delay: 650ms;
}

.main-menu .menu-item:nth-of-type(14) {
  -webkit-transition-delay: 700ms;
          transition-delay: 700ms;
}

.main-menu .menu-item:nth-of-type(15) {
  -webkit-transition-delay: 750ms;
          transition-delay: 750ms;
}

.main-menu .menu.open .menu-item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.mobile-menu-button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 0;
  padding: 1em 0;
  -webkit-transition: 250ms ease-out;
  transition: 250ms ease-out;
  display: inline-block;
  border: 0;
}

@media (min-width: 48.0625rem) {
  .mobile-menu-button {
    display: none;
  }
}

.mobile-menu-button.open span {
  background: transparent;
}

.mobile-menu-button span {
  display: block;
  width: 40px;
  height: 6px;
  position: relative;
  -webkit-transition: inherit;
  transition: inherit;
}

.mobile-menu-button span:before, .mobile-menu-button span:after {
  content: '';
  background: inherit;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  -webkit-transition: inherit;
  transition: inherit;
}

.mobile-menu-button span:before {
  top: -12px;
}

.mobile-menu-button span:after {
  top: 12px;
}

.mobile-menu-button.open span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
}

.mobile-menu-button.open span:after {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: 0;
}

.test-class {
  color: red;
}

.post-listing--loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.35);
}

.post-listing--loading:after {
  content: '';
  display: block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  border: 2px solid #fff;
  border-color: #fff transparent #fff transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: post-search-rotate 1.2s linear infinite;
          animation: post-search-rotate 1.2s linear infinite;
}

.post-listing .row {
  margin-top: -2em;
  margin-left: -16px;
  margin-right: -16px;
}

.post-listing .row > .col {
  padding-left: 16px;
  padding-right: 16px;
}

.post-listing .row .col {
  margin-top: 2em;
}

@-webkit-keyframes post-search-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes post-search-rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}

.search-content--highlight {
  text-decoration: underline;
}

.share svg {
  width: 24px;
  height: 24px;
}

.social-media-list svg {
  width: 32px;
  height: 32px;
}

.columns .row {
  margin-top: -2em;
  margin-left: -16px;
  margin-right: -16px;
}

.columns .row > .col {
  padding-left: 16px;
  padding-right: 16px;
}

.columns .row .col {
  margin-top: 2em;
}

.video {
  position: relative;
}

.video iframe {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .video {
    /* IE10+ CSS */
    height: 498px;
  }
}

.video.open .video--image-overlay,
.video.open .play-btn {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: 250ms;
  transition: 250ms;
}

.video--image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  cursor: pointer;
}

.video .play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 2;
  pointer-events: none;
}

.single-product--slider ada-slider {
  margin-bottom: 1em;
}

.single-product--slider ada-slider-prev,
.single-product--slider ada-slider-next {
  display: none;
}

.single-product--slider ada-slider-page {
  -webkit-box-flex: 1;
          flex: 1;
}

.single-product--slider ada-slider-page button {
  width: auto;
  height: auto;
  border: 0;
  border-radius: 0;
  display: -webkit-box;
  display: flex;
  padding: 2px;
}

.single-product--slider ada-slider-page img {
  width: 80px;
  height: 80px;
}

.single-product table.variations label {
  display: block;
  margin-right: 1rem;
}

.single-product table.variations .reset_variations {
  display: inline-block;
  margin-left: 1rem;
}

.single-product .woocommerce-variation > * {
  margin-top: 1rem;
}

.single-product .quantity {
  margin-top: 1rem;
}

.single-product .single_add_to_cart_button {
  margin-top: 1rem;
}
