.bg-black {
  background: #333;
}

.text-black {
  color: #333;
}

.bg-blue {
  background: skyblue;
}

.text-blue {
  color: skyblue;
}

.bg-yellow {
  background: yellow;
}

.text-yellow {
  color: yellow;
}

.screen-reader-text {
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.woocommerce-cart-form {
  margin: 100px 0 40px;
}

.woocommerce-cart-form table {
  width: 100%;
  border: 1px solid #ccc;
}

@media (max-width: 48rem) {
  .woocommerce-cart-form table thead {
    display: none;
  }
}

.woocommerce-cart-form table th {
  padding: 0.5em 1em;
  font-weight: 600;
  text-align: left;
}

.woocommerce-cart-form table tbody tr {
  border: 1px solid #ccc;
}

.woocommerce-cart-form table tbody tr:nth-of-type(odd) {
  background: #efefef;
}

@media (max-width: 48rem) {
  .woocommerce-cart-form table tbody tr {
    display: block;
  }
}

.woocommerce-cart-form table td {
  vertical-align: middle;
  padding: 0.5em 1em;
}

@media (max-width: 48rem) {
  .woocommerce-cart-form table td {
    display: block;
  }
  .woocommerce-cart-form table td:before {
    content: attr(data-title);
    display: block;
    font-weight: 600;
  }
}

.woocommerce-cart-form a {
  color: inherit;
}

.woocommerce-cart-form a.remove {
  border: 2px solid;
  border-radius: 50%;
  text-decoration: none;
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.woocommerce-cart-form .attachment-woocommerce_thumbnail {
  width: 150px;
  height: 150px;
}

.woocommerce-cart-form .actions {
  text-align: right;
}

.woocommerce-cart-form button[name="update_cart"] {
  margin-top: 1rem;
}

.cart_totals {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-align: end;
          align-items: flex-end;
  margin-bottom: 100px;
}

.cart_totals table td {
  padding: 1rem 0 1rem 1rem;
}

.woocommerce-checkout .woocommerce {
  margin: 100px 0;
}

.woocommerce-checkout .woocommerce a {
  color: inherit;
}

.woocommerce-checkout .woocommerce-checkout {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.woocommerce-checkout .woocommerce-form-coupon-toggle,
.woocommerce-checkout .woocommerce-form-coupon,
.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  margin: 1rem 0;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper .form-row {
  width: 49.5%;
  margin-top: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper label {
  display: block;
  margin-bottom: 0.5rem;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper input {
  display: block;
  width: 100%;
}

.woocommerce-checkout .woocommerce-billing-fields__field-wrapper abbr {
  text-decoration: none;
}

.woocommerce-checkout .woocommerce-additional-fields h3 {
  margin-bottom: 1rem;
}

.woocommerce-checkout .woocommerce-additional-fields label {
  display: block;
  margin-bottom: 0.5rem;
}

.woocommerce-checkout .woocommerce-additional-fields input,
.woocommerce-checkout .woocommerce-additional-fields textarea {
  display: block;
  width: 100%;
}

.woocommerce-checkout .col2-set {
  width: 59%;
}

@media (max-width: 48rem) {
  .woocommerce-checkout .col2-set {
    width: 100%;
  }
}

.woocommerce-checkout #order_review_heading {
  display: none;
}

@media (max-width: 48rem) {
  .woocommerce-checkout #order_review_heading {
    display: block;
    margin-top: 2em;
  }
}

.woocommerce-checkout #order_review {
  width: 39%;
}

@media (max-width: 48rem) {
  .woocommerce-checkout #order_review {
    width: 100%;
  }
}

.woocommerce-checkout #order_review table {
  width: 100%;
  border: 1px solid #ccc;
}

.woocommerce-checkout #order_review table th {
  padding: 0.5em 1em;
  font-weight: 600;
  text-align: left;
}

.woocommerce-checkout #order_review table tbody tr {
  border: 1px solid #ccc;
}

.woocommerce-checkout #order_review table td {
  vertical-align: middle;
  padding: 0.5em 1em;
}

.woocommerce-checkout #order_review .wc_payment_method,
.woocommerce-checkout #order_review .payment_box,
.woocommerce-checkout #order_review .woocommerce-info,
.woocommerce-checkout #order_review .place-order,
.woocommerce-checkout #order_review button[name="woocommerce_checkout_place_order"] {
  margin: 0.5em 0;
}

.woocommerce-checkout #order_review .wc_payment_method p,
.woocommerce-checkout #order_review .payment_box p,
.woocommerce-checkout #order_review .woocommerce-info p,
.woocommerce-checkout #order_review .place-order p,
.woocommerce-checkout #order_review button[name="woocommerce_checkout_place_order"] p {
  line-height: 1.6;
}

.woocommerce-checkout #order_review label[for="payment_method_paypal"] img {
  display: block;
}

.woocommerce-checkout #order_review .about_paypal {
  display: block;
  margin-top: 0.5em;
}

.woocommerce-order * + * {
  margin-top: 1rem;
}

.woocommerce-order table {
  width: 100%;
  border: 1px solid #ccc;
}

.woocommerce-order table th {
  padding: 0.5em 1em;
  font-weight: 600;
  text-align: left;
}

.woocommerce-order table tbody tr {
  border: 1px solid #ccc;
}

.woocommerce-order table td {
  vertical-align: middle;
  padding: 0.5em 1em;
}
