.video
  position: relative
  //padding-top: calc(9/16 * 100%) //for 16:9 aspect ratio, this could also be 3/4 for 4:3, etc
  iframe
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute
  @include IEFix
    height: 498px
  &.open  
    .video--image-overlay,
    .play-btn
      opacity: 0
      pointer-events: none
      transition: 250ms
  &--image-overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
    cursor: pointer
  .play-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    z-index: 2
    pointer-events: none