.main-header
  position: relative
  background: white
  .skip-to-content
    padding: 1em
    position: absolute
    top: 0
    transform: translateY(-100%)
    left: 1em
    z-index: 1000
    background: white
    &:focus
      transform: translateY(0)   
  &--wrapper
    display: flex
    justify-content: space-between
    align-items: flex-end
    flex-wrap: wrap
  .site-logo
    max-width: 100px
    height: auto


// everything below here is boilerplate for different header types
.main-header.sticky
  position: fixed
  width: 100vw
  top: 0
  left: 0
  z-index: 999
.admin-bar
  .main-header.sticky,
  .main-header--placeholder
    top: 32px
    @include screenQuery(782)
      top: 46px


.main-header.reveal
  position: fixed
  width: 100vw
  top: 0
  left: 0
  z-index: 999
  transition: 250ms
  &.hide
    transform: translateY(-100%)
.admin-bar
  .main-header.reveal,
  .main-header--placeholder
    top: 32px
    @include screenQuery(782)
      top: 46px