%reset-button
  appearance: none
  border: none
  margin: 0
  padding: 0
  width: auto
  overflow: visible
  background: transparent
  color: inherit
  font: inherit
  display: inline-block
  text-decoration: none
  text-align: center
  cursor: pointer
  transition: 250ms ease-in-out
  font-family: $font-main  

button
  @extend %reset-button
  
.editor-content .button,
.button,
button[type="submit"]
  @extend %reset-button
  //change stuff below here probably
  background: $color-main
  color: $text-color
  padding: 0.5em 1em  
  &:hover
    background: $color-accent