.editor-content,
.content-editor,
#tinymce
  font-family: $font-main
  a:not(.button)
    color: inherit
    transition: 250ms
    &:hover
      opacity: 0.65 
      text-decoration: none
  p
    line-height: 1.6
  & > * + *
    margin-top: 0.6em
  & > ul
    list-style: disc
    padding-left: 40px
  & > ol
    list-style: decimal
    padding-left: 40px
  & > ul,
  & > ol
    li + li
      margin-top: 0.5em
  iframe[src*="vimeo.com"],
  iframe[src*=".mp4"],
  iframe[src*="youtube.com"]
    width: 100%
    height: Min(40vw, 450px)
    @include screenQuery(768)
      height: 53vw
  .aligncenter
    margin-left: auto
    margin-right: auto
    display: block    
  .alignleft
    float: left
    margin: 0.5em 1em 0.5em 0
  .alignright
    float: right
    margin: 0.5em 0 0.5em 1em