/** 
 * Base ada-select stuff
 * None of this is required, it is just a good baseline
 */
.ada-select
  position: relative
  text-align: left
  &--label
    display: block
    margin-bottom: 0.5em
  &--trigger
    border-radius: 0
    border: 1px solid
    padding: 0.5em 3em 0.5em 1em
    display: block
    cursor: pointer
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
    position: relative
    appearance: none
    width: 100%
    text-align: left
    background: #fff
    &:after
      content: ''
      position: absolute
      right: 1em
      top: 50%
      transform: translateY(-50%)
      border-top: 0.25em solid
      border-left: 0.25em solid transparent
      border-right: 0.25em solid transparent
      pointer-events: none
  &--options
    list-style: none
    padding: 0
    border: 1px solid
    position: absolute
    z-index: 999
    top: 100%
    left: 0
    width: 100%
    background: #fff
    max-height: 300px
    overflow: auto
  &--optgroup-title
    padding: 0.5em 1em
    opacity: 0.75
  &--option
    padding: 0.5em 1em
    cursor: pointer
    &:hover
      background: #eee
    &[aria-selected="true"]
      background: #ddd
    &--disabled
      cursor: no-drop
      opacity: 0.5
  &--optgroup-option
    padding: 0.5em 1em 0.5em 2em


/** 
 * Base ADA form stuff
 */
ada-form
  display: block
ada-input
  display: block
  & + &
    margin-top: 1em
  &.valid 
    input, fieldset, textarea, select
      border-color: #20e220
  &.error 
    input, fieldset, textarea, select
      border-color: red
  label
    display: block
  fieldset
    display: flex
    flex-wrap: wrap
    legend
      width: 100%
ada-option
  display: flex
.ada-input-error
  color: red


/**
 * Base gform stuff
 */
@keyframes rotate-spinner
  0% 
    transform: rotate(0deg)
  100% 
    transform: rotate(360deg)
.gform_ajax_spinner
  width: 2rem
  height: 2rem
  display: inline-block
  border-top: 2px solid
  border-right: 2px solid transparent
  border-bottom: 2px solid
  border-left: 2px solid transparent
  border-radius: 50%
  animation: rotate-spinner 1.2s linear infinite  
.gfield_visibility_hidden
  display: none
.gform_validation_container
  @extend .hidden
.gform_wrapper
  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='tel'],
  input[type='url'],
  textarea,
  select
    width: 100%
    border-radius: 0
.validation_error,
.validation_message
  color: darken(red, 10%)
  margin: 0.8em 0
  line-height: 1.6
.gform_fields
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  padding: 0
  list-style: none
.gfield
  width: 100%
  margin-bottom: 1em
  //give two elements a class of `col-6` to make them 50/50
  &--width-half
    width: 49%
    @include mobile
      width: 100%
.hidden_label label
  @extend .hidden
.gform_heading .gform_title + .gform_description
  margin: 1em 0
  display: block
.ginput_complex
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  & > *
    margin-bottom: 1em
    label
      display: block
      font-size: 0.8rem
      margin-top: 0.5rem
    &.ginput_left,
    &.ginput_right,
    &.name_first,
    &.name_last,
    &.address_line_1,
    &.address_line_2
      width: 49%
      @include mobile
        width: 100%
.gfield_label
  display: block
  margin: 1em 0 0.5em
.ginput_container_select
  position: relative
  &:after
    content: ''
    display: block
    border-left: 10px solid black
    border-top: 7px solid transparent
    border-bottom: 7px solid transparent
    position: absolute
    right: 1em
    top: calc(50% - 7px)
//defaults for datepicker
.ui-datepicker
  background: white
  padding: 1em
  box-shadow: rgba(0, 0, 0, 0.25) 2px 2px 10px
  display: block
  &-header
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &-title
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 1em
    select
      border: 1px solid
  &-calendar
    width: 100%
    margin-top: 1em
    text-align: center
    a
      text-decoration: none
      background: #efefef
      width: 100%
      height: 100%
      min-height: 2em
      display: flex
      justify-content: center
      align-items: center
      color: inherit
      transition: 250ms ease-in-out
      &:hover
        background: #cecece