//layout
.module
  position: relative
  padding-top: var(--desktop-padding-top)
  padding-bottom: var(--desktop-padding-bottom)
  @include mobile
    padding-top: var(--mobile-padding-top)
    padding-bottom: var(--mobile-padding-bottom)
  &--background
    filter: brightness(0.65)
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 1
  .wrapper
    position: relative
    z-index: 2
  
.wrapper
  width: $wrapper-width 
  max-width: 95%
  margin: 0 auto

.break-wrapper
  width: 100vw
  left: 50%
  transform: translateX(-50%)
  position: relative

//show/hide helpers
.desktop-only
  @include mobile
    display: none !important

.mobile-only
  @media(min-width:rem($mobile-switch + 1px))
    display: none !important

.hidden,
.sr-only
  //taken from https://www.a11yproject.com/posts/2013-01-11-how-to-hide-content/
  clip: rect(0 0 0 0)
  clip-path: inset(50%)
  height: 1px
  overflow: hidden
  position: absolute
  white-space: nowrap
  width: 1px

//column helpers
.col-xxs-12 //an extra class for when an xs col isn't small enough
  @include screenQuery(500)
    flex-basis: 100% !important
    max-width: 100% !important

//float helpers
.float-left
  float: left
.float-right
  float: right
.clearfix
  clear: both

// display helpers
.block  
  display: block 
.inline-block  
  display: inline-block 
.display-none
  display: none

// flex helpers
.flex
  display: flex
.inline-flex
  display: inline-flex
.space-between
  justify-content: space-between
.space-around
  justify-content: space-around
.align-center
  align-items: center
.justify-center
  justify-content: center
.justify-start
  justify-content: flex-start
.justify-end
  justify-content: flex-end
.flex-column 
  flex-direction: column
.flex-wrap
  flex-wrap: wrap
.align-start
  align-items: flex-start
.align-end
  align-items: flex-end


//text helper classes
.uppercase
  text-transform: uppercase
.capitalize
  text-transform: capitalize
.text-center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left

//misc
.no-underline
  text-decoration: none
.no-click
  pointer-events: none
.no-wrap
  white-space: nowrap

// position 
.absolute
  position: absolute
.relative
  position: relative
.fill-parent
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 1

.woocommerce-notices-wrapper
  border-top: 4px solid #3acd3a
  background: #efefef
  padding: 1rem
  margin-top: 2rem
  margin-bottom: 4rem
  .button
    margin-right: 1rem
  &:empty
    display: none

//margin and padding helper classes
$max: 100
$step: 5
@for $i from 1 through (ceil($max/$step) + $step)
  $value: ($i - 1) * $step
  .m-#{$value}
    margin: #{$value}px
  .m-t-#{$value}
    margin-top: #{$value}px
  .m-r-#{$value}
    margin-right: #{$value}px
  .m-b-#{$value}
    margin-bottom: #{$value}px
  .m-l-#{$value}
    margin-left: #{$value}px
  .p-#{$value}
    padding: #{$value}px
  .p-t-#{$value}
    padding-top: #{$value}px
  .p-r-#{$value}
    padding-right: #{$value}px
  .p-b-#{$value}
    padding-bottom: #{$value}px
  .p-l-#{$value}
    padding-left: #{$value}px