.content-video-background
  position: relative
  overflow: hidden
  &--video-container
    position: absolute !important //override inline style for custom element
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    filter: brightness(0.75)
    z-index: 1
  .wrapper
    position: relative
    z-index: 2