.full-width-slider
  padding: 0 !important //we want the slides to have padding.... not this!
  &--slide-background
    @extend %fill-parent
    z-index: 1
    filter: brightness(0.7)
  &--slide
    position: relative
    padding-top: var(--desktop-padding-top)
    padding-bottom: var(--desktop-padding-bottom)
    @include mobile
      padding-top: var(--mobile-padding-top)
      padding-bottom: var(--mobile-padding-bottom)
    .wrapper
      position: relative
      z-index: 2