<template>
  <div class="post-thumbnail editor-content">
    <a class="no-underline" :href="post.permalink">
      <img class="post-thumbnail--image m-b-15" v-if="post.featured_image_src" :src="post.featured_image_src"/>
      <h3 v-html="post.post_title"></h3>
    </a>
    <p>
      <small>{{ post.category_name }} | {{ post.formatted_date }}</small>
    </p>
    <p v-if="post.post_excerpt" v-html="post.post_excerpt"></p>
    <p><a :href="post.permalink">Read More</a></p>
  </div>
</template>
<script>
  export default {
    props: {
      post: Object
    }
  }
</script>