.back-to-top
  position: fixed
  bottom: 0
  right: 0
  transition: 250ms ease-in-out
  transform: translateY(100%)
  z-index: 999
  padding: 1em
  background: white
  text-decoration: none
  color: black
  &.show
    transform: translateY(0)