.single-product
  &--slider
    ada-slider
      margin-bottom: 1em
    ada-slider-prev,
    ada-slider-next
      display: none
    ada-slider-page
      flex: 1
      button
        width: auto
        height: auto
        border: 0
        border-radius: 0
        display: flex
        padding: 2px
      img
        width: 80px
        height: 80px
  table.variations
    label
      display: block
      margin-right: 1rem
    .reset_variations
      display: inline-block
      margin-left: 1rem
  .screen-reader-text
    @extend .sr-only
  .woocommerce-variation > *
    margin-top: 1rem
  .quantity
    margin-top: 1rem
  .single_add_to_cart_button
    margin-top: 1rem