.content-full-bleed-image
  overflow: hidden
  .content-column
    @include mobile
      order: 2
  .image-column
    @include mobile
      order: 1

  &.image-left
    .content-column
      order: 3
    .spacer-column
      order: 2
    .image-column
      order: 1
    .image-container
      left: unset
      right: 0

  .image-container
    height: 100%
    position: absolute
    top: 0
    left: 0
    background-position: center
    background-size: cover
    @include mobile
      width: 100% !important
      position: static !important
      background-image: none !important
      img
        margin: 0 -2em
        max-width: calc(100% + 4em)